*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
}
.section__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__list{
  width:750px;
  display: flex;
  justify-content: space-between;
}
.section__item{
  width:900px;
}
.section__link{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
text-decoration: underline 2px rgb(238, 109, 40);
}
.content__work{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__link1{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 140%;
}
.work__content{
  background-image: url(./img/Rectangle\ 5.jpeg);
  width:1440px ;
  height:800px;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding: 88px;
}
.work__title{
  color: rgb(255, 255, 255);
font-family: Oswald;
font-size: 54px;
font-weight: 700;
line-height: 130%;
}
.work__text{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 140%;
}
.work__btn{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
border: none;
padding: 8px 42px;
border-radius: 8px;
background: rgb(150, 25, 20);
}
.barf__title{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
margin-bottom: 20px;
}
.barf__text{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
margin-bottom: 20px;
}
.barf__tit{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 130%;
margin-bottom: 20px;
}
.barf__img{
  width:588px;
height: 523px;
}
.barf__section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.logo__title{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 200%;
text-transform: uppercase;
}
.logo__list{
  margin-top: 15px;
}
.logo__item{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}
.file__conten{
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.file__title{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
}
.file__text{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
} 
.worki__section{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.worki__img{
  width: 280px;
height: 335px;
}
.worki__title{
  font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 130%;
margin-bottom: 20px;
margin-top: 20px;
}
.worki__text{
  color: rgb(159, 158, 157);
font-family: Montserrat;
font-size: 13px;
font-weight: 400;
margin-bottom: 15px;
}
.worki__text1{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 140%;
margin-bottom: 15px;
}
.worki__btn{
  color: rgb(150, 25, 20);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
margin-bottom: 15px;
box-sizing: border-box;
border: 1px solid rgb(150, 25, 20);
border-radius: 8px;
border: none;
padding: 14px 52px;
}
.run__section{
  background-color: #EAD1D0;
  width: 1198px;
height: 184px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px;
margin-top: 40px;
}
.run__title{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 28px;
font-weight: 500;
line-height: 140%;
}
.run__btn{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 140%;
border: none;
border-radius: 8px;
padding: 15px 45px;
background: rgb(150, 25, 20);
}
.help__img{
  width: 40px;
height: 40px;
}
.help__title{
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-top: 90px;
  margin-bottom: 80px;
}
.help__tit{
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 15px;
}
.help__text{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.help__section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit__img{
  width: 611px;
height: 745px;
margin-top: 75px;
}
.edit__selec{
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: #FFF4F3;
  margin-top: 60px;
}
.edit__title{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%; 
margin-top:60px;
}
.edit__text{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 130%;
margin-top: 50px;
margin-bottom: 15px;
}
.terminal__img{
  width: 28.75px;
height: 32.13px;
margin-bottom: 15px;
}
.terminal__selec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terminal__title{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
margin-top: 80px;
margin-bottom: 50px;
}
.terminal__tit{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 130%;
margin-bottom: 10px;
}
.terminal__text{
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.outline__section{
  display: flex;
  align-items: center;
  gap: 100px;
}
.outline__title{
  color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
}
.outline__text{
  color: rgb(67, 66, 66);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
margin-bottom: 20px;
margin-top: 15px;
}
.outline__text1{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 140%;
margin-bottom: 20px;
margin-top: 15px;
}
.outline__tit{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 140%;
margin-top: 60px;
}
.selec__content{
  background-color: #961914;
  width: 1440px;
height: 530px;
display: flex;
align-items: center;
gap: 55px;
}
.selec__title{
  color: rgb(255, 255, 255);
font-family: Oswald;
font-size: 46px;
font-weight: 700;
line-height: 130%;
margin-bottom: 20px;
margin-left: 35px;
}
.selec__text{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
margin-bottom: 20px;
margin-left: 35px;
}
.selec__btn{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
  border-radius: 8px;
padding: 10px 42px;
background: rgb(255, 255, 255);
opacity: 0.2;
margin-bottom: 20px;
margin-left: 35px;
border: none;
}
.selec__link{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 140%;
margin-left: 35px;
margin-bottom: 20px;
}
.slecimg{
  width: 110px;
height: 110px;
transform: rotate(12.20deg);
}
.selec__img{
  width: 134px;
height: 133px;
transform: rotate(-67.98deg);
}
.index__title{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 140%;
margin-bottom: 25px;
}
.index__text{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}
.btm{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding: 10px 52px;
border: none;
background: rgba(255, 255, 255, 0.05);
}
.btm1{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding: 10px 52px;
border: none;
background: rgba(255, 255, 255, 0.05);
margin-bottom: 15px;
}
.btn2{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 140%;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;
padding: 60px 200px;
border: none;
background: rgba(255, 255, 255, 0.05);
}
.text{
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.btn3{
  color: rgb(236, 121, 115);
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 140%;
border-radius: 8px;
padding: 8px 32px;
background: rgb(255, 244, 243);
border: none;
margin-bottom: 12px;
}
